/*use custom font: @import url('https://fonts.googleapis.com/css?family=Averia Libre'); */ 
/* *, *::before, *::after {
    box-sizing: border-box;
} */

:root {
    --primary: #2A4759;
    --secondary: #56778C;
    --tertiary: #A4B8BF;
    --accentlight: #F2C36B;
    --accent: #BF5E3B;
}

body {
  background-image: url("images/Shrimp_Blue.png");
  background-repeat: repeat;
  background-size: 100px;
}

body {
    background-color: var(--accentlight);
}

@media (min-width: 768px) { /* tablet view */
    body {
        background-color: var(--primary);
    }
}

@media (min-width: 1024px) { /* laptop/desktop view */
    body {
        background-color: var(--accent);
    }
}

.info_box {
    border-radius: 15px;
    background-color: var(--primary);
    position: flex;
    margin: 1rem;
    padding: 10px;
}

.button_box {
    border-radius: 25px;
    background-color: var(--accent);
    color: var(--accentlight);
    position: flex;
    padding: 5px;
    transition-duration: 0.4s;
}

.button_box:hover {
    background-color: #DC6D44;
    color: #9B7C44;
    box-shadow:0 8px 16px 0 var(--tertiary)

}